# Environment
.env

# Docker
compose.override.yaml


# Python
__pycache__/
*.pyc
.venv/

# Go
bin/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars

site/data/games.json